/* ---- For contact.html file ---- */


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

:root{
  --primary-color: #7e268a;
  --primary-color-dark: #9f0fb3;
  --secondary-color: #ae30ce;
  --text-dark: #1f2937;
  --text-light: #6b7280;
  --extra-light: #faf5ff;
  --max-width: 1200px;

}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

a{
  text-decoration: none;

}


body{
  color: #222222;
  font-size: 1em;
  font-family: 'Poppins', sans-serif;
}


nav{
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  background-color: #ffffff;
  z-index: 99;
}

.nav__content{
  max-width: var(--max-width);
  margin: auto;
  padding: 1.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

nav .logo{
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--primary-color);
  transition: 0.3s;
}

nav .logo:hover{
  color: var(--primary-color-dark);
}

nav .checkbox{
  display:none;
}

nav input{
  display: none;
}

nav .checkbox i{
  font-size: 2rem;
  color: var(--primary-color);
  cursor: pointer;
}

ul{
  display: flex;
  align-items: center;
  gap:1rem;
  list-style: none;
  transition: left 0.3s;
}

ul li a{
  padding: 0.5rem 1rem;
  border: 2px solid transparent;
  text-decoration: none;
  font-weight: 600;
  color: var(--text-dark);
  transition: 0.3s;

}

ul li a:hover{
  border-top-color: var(--secondary-color);
  border-bottom-color: var(--secondary-color);
  color: var(--secondary-color);
}


.contact{
  align-items: normal;
  position: relative;
  min-height: 100vh;
  padding: 50px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url(assets/contactnewbg.jpg);
  background-size: cover;
}

.contact .content{
  max-width: 800px;
  text-align: center;
}

.contact .content h2{
  font-size: 36px;
  font-weight: 500;
  color: #1d1313;
}

.contact .content p{
  font-weight: 300;
  color: #0e0d0d;
}

.container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;

}

.container .contactInfo{
  width: 50%;
  display:flexbox;
  flex-direction: column;
}

.container .contactInfo .box{
  position: relative;
  padding: 20px 0;
  display: flex;
}

.container .contactInfo .box .icon{
  min-width: 60px;
  height: 60px;
  background: #bd99c5;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 22px;
}

.container .contactInfo .box .text{
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  color: #0f0e0e;
  flex-direction: column;
  font-weight: 300;
}

.container .contactInfo .box .text h3{
  font-weight: 500;
  color: #0f0e0e;
}

.contactForm{
  width: 40%;
  padding: 40px;
  background: #9030a3;
}

.contactForm h2{
  font-size: 24px;
  color: #eef2f3;
  font-weight: 500;
}

.contactForm .webdisc{
  font-size: 27px;
  color: #211e33;
  font-weight: 500;
}


@media (width < 750px){
  .container{
    flex-direction: column;
  }
  .container .contactInfo{
    margin-bottom: 40px;
  }
  .container .contactInfo,.contactForm{
    width:100%;
  }
  nav .checkbox{
    display: block;
  }

  ul{
      position: absolute;
      width: 100%;
      height: calc(100vh - 85px);
      left: -100%;
      top: 85px;
      background-color: var(--extra-light);
      flex-direction: column;
      justify-content: center;
      gap: 3rem;
  }

  nav #check:checked ~ ul{
      left: 0;
  }

  ul li a{
      font-size: 1.25rem;
  }

}





